* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    margin: 20px;
}

p {
    margin-left: 20px;
}

button {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 40px;
    background-color: rgb(117, 175, 233);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}